.col-img {
    padding: 0 !important;
    margin: 0 !important;
    height: 100px;
}

.row-info {
    padding-left: 25px !important;
}

h4 {
    margin: 0 !important;
    padding: 0 !important;
}

h5 {
    margin: 0 !important;
    padding: 0 !important;
}