.col-img {
    padding: 0 !important;
    margin: 0 !important;
}

img {
    padding: 0 !important;
    margin: 0 !important;
    float: left !important;
}

.col-xs-4 {
    padding: 0 !important;
    margin: 0 !important;
}

.col-xs-2 {
    padding-left: 0 !important;
    margin: 0 !important;
}