html, body, form {
    
}

.com-borda {
    border: solid 1px #000 !important;
}

.btn-100 {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    border-radius: 0;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.sem-borda-top {
    border-top: 0 !important;
}